
.main {
  margin-top: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr ;

}


.column-1{padding: 20%;
  background-color: #e227a1;
  color: rgb(236, 233, 232);


}

.column-2{
  padding: 15%;
  line-height: 45px;
  font-size: 60px;
  color: rgb(252, 248, 244);
  font-family:'Permanent Marker', cursive;
background-color: #5021ec;

}

.weekday {
  color: white;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 30px;
font-family: "permanent marker";
 
  
}

li {
  list-style: none;
  font-size: 18px;
  padding: 1px;
  line-height: 25px;
  letter-spacing: 3px;
  font-family: 'poppins';
  font-weight: 600;
  

}