section {
  display: flexbox;
  margin-top: 5rem;

 padding-bottom: 10px;
  font-family: "poppins";
  font-weight: 100;
margin-left: -1%;


}

.col-2 {
  margin-top: -65%;
  margin-left: 35%;
  padding: 4rem;
  padding-top: 5%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #feffff;
  font-family: "Poppins";
  margin-block: "10%";
 
}




#video {
width: 101%;

  }
 .header--vid{
    font-size: 120px;
    color: #e825d5d6;
    font-weight: 800;
    line-height: 70%;
    letter-spacing: 4px;
    font-family: "permanent marker";
 }
 @media (max-width: 650px) {
   .header--vid {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 45px;
   line-height: 40px;

   }
   .col-2{
    font-size: 14px;
    margin-left: 1%;
    padding-top: 0px;
 
   }
   .vid--text{
    margin-top: -5%;
   }
 }